@model Asp.NETMVCCRUD.Models.tt_TransactionDetail
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <br />

        @Html.HiddenFor(model => model.TransactionDetail_PK)

        <div class="form-group">
            @Html.LabelFor(model => model.Operator_FK, "Operator", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Operator_FK, new SelectList(ViewBag.OperatorList, "operatorpk", "Text"), htmlAttributes: new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasilKain, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.HasilKain, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                <label class="control-label">meter</label>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <input type="button" value="Submit" class="btn btn-default" onclick="formsub()" data-dismiss="modal" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
        $("#Operator_FK").select2({
            width: '70%'
        });
    

</script>
