@model Asp.NETMVCCRUD.Models.InputTransaksi

@using (Html.BeginForm("Create", "Transaksi", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.daily)
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.mesin, "Kode Mesin", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.mesin, "", new { @class = "text-danger" })
                    @Html.DropDownListFor(x => x.mesin, new SelectList(ViewBag.Testlist, "mesin", "Text"))
                </div>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.kodewarna, "Kode Warna", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.kodewarna, "", new { @class = "text-danger" })
                    @Html.DropDownListFor(x => x.kodewarna, new SelectList(ViewBag.Testlist2, "kodewarna", "Text"), htmlAttributes: new { @class = "col-md-10" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <label class="control-label">No Operator</label>
            </div>
            <div class="col-md-4">
                <label class="control-label">Hasil</label>
            </div>
            <div class="col-md-2">
                <input type="button" value="+" class="btn btn-warning" onclick="addoperator()" />
            </div>
        </div>
        <div id="transdetail">
            <div class="row transdet">
                <div class="col-md-offset-1 col-md-2">
                    <input class="operator form-control" type="text" onchange="updateoperator(this)" />
                </div>
                <div class="col-md-3">
                    <input class="namaoper form-control" type="text" disabled />
                </div>
                <div class="col-md-4">
                    <input class="hasil form-control" type="number" onkeyup="updatejumlah()" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>




        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label class="control-label">Penambahan(Opt.)</label>
            </div>
            <div class="col-md-2">
                <input id="penambahan" value="0" class="form-control" type="number" onkeyup="updatejumlah()" />
            </div>
            <div class="col-md-2">
                <label class="control-label">Jumlah</label>
            </div>
            <div class="col-md-2">
                <input id="jumlah" class="form-control" type="number" disabled />
            </div>
            <div class="col-md-2">
                <input type="button" value="Create" class="btn btn-success" onclick="createtrans()" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">

</script>
